.icon-email {
    background: url('../images/icons/email.png') no-repeat center center;
}

.icon-blank {
    background: url('../images/icons/blank.gif') no-repeat center center;
}

.icon-add {
    background: url('../images/icons/edit_add.png') no-repeat center center;
}

.icon-edit {
    background: url('../images/icons/pencil.png') no-repeat center center;
}

.icon-workflow {
    background: url('../images/icons/workflow.png') no-repeat center center;
}

.icon-editform {
    background: url('../images/icons/edit.png') no-repeat center center;
}

.icon-clear {
    background: url('../images/icons/clear.png') no-repeat center center;
}

.icon-remove {
    background: url('../images/icons/edit_remove.png') no-repeat center center;
}

.icon-save {
    background: url('../images/icons/filesave.png') no-repeat center center;
}

.icon-cut {
    background: url('../images/icons/cut.png') no-repeat center center;
}

.icon-ok {
    background: url('../images/icons/ok.png') no-repeat center center;
}

.icon-no {
    background: url('../images/icons/no.png') no-repeat center center;
}

.icon-cancel {
    background: url('../images/icons/cancel.png') no-repeat center center;
}

.icon-reload {
    background: url('../images/icons/reload.png') no-repeat center center;
}

.icon-search {
    background: url('../images/icons/search.png') no-repeat center center;
}

.icon-print {
    background: url('../images/icons/print.png') no-repeat center center;
}

.icon-help {
    background: url('../images/icons/help.png') no-repeat center center;
}

.icon-undo {
    background: url('../images/icons/undo.png') no-repeat center center;
}

.icon-redo {
    background: url('../images/icons/redo.png') no-repeat center center;
}

.icon-back {
    background: url('../images/icons/back.png') no-repeat center center;
}

.icon-open {
    background: url('../images/icons/open.png') no-repeat center center;
}

.icon-fold {
    background: url('../images/icons/fold.png') no-repeat center center;
}

.icon-fit {
    background: url('../images/icons/fit.png') no-repeat center center;
}

.icon-link {
    background: url('../images/icons/link.png') no-repeat center center;
}

.icon-view {
    background: url('../images/icons/view.png') no-repeat center center;
}

.icon-money {
    background: url('../images/icons/money.png') no-repeat center center;
}

.icon-sum {
    background: url('../images/icons/sum.png') no-repeat center center;
}

.icon-tip {
    background: url('../images/icons/tip.png') no-repeat center center;
}

.icon-filter {
    background: url('../images/icons/filter.png') no-repeat center center;
}

.icon-man {
    background: url('../images/icons/man.png') no-repeat center center;
}

.icon-lock {
    background: url('../images/icons/lock.png') no-repeat center center;
}

.icon-more {
    background: url('../images/icons/more.png') no-repeat center center;
}

.icon-clock {
    background: url('../images/icons/clock.gif') no-repeat center center;
}

.icon-words {
    background: url('../images/icons/words.png') no-repeat center center;
}

.icon-customers {
    background: url('../images/icons/customers.png') no-repeat center center;
}

.icon-mini-add {
    background: url('../images/icons/mini_add.png') no-repeat center center;
}

.icon-mini-edit {
    background: url('../images/icons/mini_edit.png') no-repeat center center;
}

.icon-mini-refresh {
    background: url('../images/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture {
    background: url('../images/icons/large_picture.png') no-repeat center center;
}

.icon-large-clipart {
    background: url('../images/icons/large_clipart.png') no-repeat center center;
}

.icon-large-shapes {
    background: url('../images/icons/large_shapes.png') no-repeat center center;
}

.icon-large-smartart {
    background: url('../images/icons/large_smartart.png') no-repeat center center;
}

.icon-large-chart {
    background: url('../images/icons/large_chart.png') no-repeat center center;
}

.icon-outsourcing {
    background: url('../images/icons/outsourcing.png') no-repeat center center;
}

.icon-home {
    background: url('../images/icons/home.png') no-repeat center center;
}

.icon-info {
    background: url('../images/icons/info.png') no-repeat center center;
}

.icon-go {
    background: url('../images/icons/go.png') no-repeat center center;
}

.icon-logout {
    background: url('../images/icons/logout.png') no-repeat center center;
}

.icon-menu {
    background: url('../images/icons/menu.png') no-repeat center center;
}

.icon-copy {
    background: url('../images/icons/copy.png') no-repeat center center;
}

.icon-muti {
    background: url('../images/icons/multiple.png') no-repeat center center;
}

.icon-0 {
    background: url('../images/icons/0.png') no-repeat center center;
}

.icon-1 {
    background: url('../images/icons/1.png') no-repeat center center;
}

.icon-2 {
    background: url('../images/icons/2.png') no-repeat center center;
}

.icon-3 {
    background: url('../images/icons/3.png') no-repeat center center;
}

.icon-4 {
    background: url('../images/icons/4.png') no-repeat center center;
}

.icon-5 {
    background: url('../images/icons/5.png') no-repeat center center;
}

.icon-6 {
    background: url('../images/icons/6.png') no-repeat center center;
}

.icon-7 {
    background: url('../images/icons/7.png') no-repeat center center;
}

.icon-8 {
    background: url('../images/icons/8.png') no-repeat center center;
}

.icon-9 {
    background: url('../images/icons/9.png') no-repeat center center;
}

.icon-excel {
    background: url('../images/icons/excel.png') no-repeat center center;
}

.icon-arrival {
    background: url('../images/icons/arrival.png') no-repeat center center;
}

.icon-photos {
    background: url('../images/icons/photos.png') no-repeat center center;
}

.icon-motorcycle {
    background: url('../images/icons/motorcycle.png') no-repeat center center;
}

.icon-reject {
    background: url('../images/icons/reject.png') no-repeat center center;
}

.icon-memo {
    background: url('../images/icons/memo.png') no-repeat center center;
}

.icon-resend {
    background: url('../images/icons/resend.png') no-repeat center center;
}

.icon-qrcode {
    background: url('../images/icons/qrcode.png') no-repeat center center;
}

.icon-reply {
    background: url('../images/icons/reply.png') no-repeat center center;
}

.icon-local {
    background: url('../images/icons/local.png') no-repeat center center;
}

.icon-method {
    background: url('../images/icons/method.png') no-repeat center center;
}

.icon-change {
    background: url('../images/icons/change.png') no-repeat center center;
}

.icon-calendar {
    background: url('../images/icons/calendar.png') no-repeat center center;
}

.icon-windows {
    background: url('../images/icons/windows.png') no-repeat center center;
}

.icon-discount {
    background: url('../images/icons/discount.png') no-repeat center center;
}


